<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>The UK Top Charts!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button *ngFor="let item of rssDataArray.items"
     [href]="'/details/' + detailsPage(item.link)">
      <ion-label class="episode">
        <div class="episode-left">
          <img class="artwork" src={{item.artworkUrl100}} alt={{item.collectionName}}>
          </div>
        <div class="episode-right">
          <b><h2>{{item.title}}</h2></b>
          <h3>Uploaded on {{getDate(item.pubDate)}}</h3>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
