.column {
  float: left;
  padding: 10px;
  white-space: pre-line;
}

.episode{
  background-color: #ecf4dc;
  padding: 10px 10px 10px 0;
  white-space: pre-line;
}

.episode-left{
  width: 20%;
  padding: 10px;
  float: left;
}

.position{
  background-color: #000;
  color: #ecf4dc;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  min-height: 50px;
  min-width: 50px;
}

.episode-right{
  width: 80%;
  float: left;
  padding: 10px;
  white-space: pre-line;
}

ion-list{
  margin: 0px;
  padding: 0px;
}
//
// p{
//   color:#666;
// }

ion-item{
  background-color: #ecf4dc;
  margin: 10px;
}
