<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>The UK Top Charts!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button *ngFor="let item of rssDataArray.items; let i = index"
     [href]="'/details/' + detailsPage(item.link)">
      <ion-label class="episode">
        <div class="episode-left">
          <b><h1 class="position">{{i+1}}.</h1></b>
          </div>
        <div class="episode-right">
          <h2>{{item.title}}</h2>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
