<ion-tabs>
  <ion-tab tab="Playing">
    <ion-router-outlet name="Playing"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="YourShows">
    <ion-router-outlet name="YourShows"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="Charts">
    <ion-router-outlet name="Charts"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="Search">
    <ion-router-outlet name="Search"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="Settings">
    <ion-router-outlet name="Settings"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Playing" href="/tabs/(Playing:Playing)">
      <ion-icon name="ios-play-circle"></ion-icon>
      <ion-label>Playing</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="YourShows" href="/tabs/(YourShows:YourShows)">
      <ion-icon name="microphone"></ion-icon>
      <ion-label>Your Shows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Charts" href="/tabs/(Charts:Charts)">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Search" href="/tabs/(Search:Search)">
      <ion-icon name="Search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>



    <ion-tab-button tab="Settings" href="/tabs/(Settings:Settings)">
      <ion-icon name="Settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
