<ion-app>
  <ion-split-pane>
    <ion-menu id="menu1" enabled="true">
      <ion-header>
        <ion-toolbar>
          <ion-title>Search</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item button color="light" menuClose (click)="changeSearch(1)">
              <ion-label>
                Search By Title
              </ion-label>
            </ion-item>
            <ion-item button color="light" menuClose (click)="changeSearch(0)">
              <ion-label>
                Search By Name
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
