<ion-app>
  <ion-split-pane>
    <ion-menu id="menu1" enabled="true">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Search</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item lines="full" margin-top="10px" button color="secondary" menuClose (click)="changeSearch(1)">
              <ion-label>
                  <img width="30px" padding-right="20px" src="./assets/images/book.svg" alt="Title">
                Search By Title
              </ion-label>
            </ion-item>
            <ion-item lines="full" margin-top="10px" button color="secondary" menuClose (click)="changeSearch(0)">
              <ion-label>
                  <img width="30px" padding-right="20px" src="./assets/images/interview.svg" alt="Hosts">
                Search By Hosts
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
