.column {
  float: left;
  padding: 5px;
  white-space: pre-line;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.searchbar{
  margin: 15px 15px 0px 15px;
  width: auto;
}

ion-item{
  background-color: #ecf4dc;
  margin: 10px;
}
