<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Your Shows</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item button id="button" color="light" *ngFor="let item of shows" [href]="'/details/' + item.payload.doc.data().id" routerDirection="forward">
      <ion-label>
        <div class="column left"><img class="artwork" src={{item.payload.doc.data().image}} alt={{item.payload.doc.data().title}}></div>
        <div class="column right">
        <h2><b><p class="podcastName">{{item.payload.doc.data().title}}</p></b></h2>
        </div>
      </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
