<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="item">Episodes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addShow()">
        <ion-icon large name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="item">
    <ion-label>
    <div class="column left"><img id="artwork" src={{item.artworkUrl600}} alt={{item.collectionName}}></div>
    <div class="column right">
    <h2><b><p class="stats" id="podcastName" [innerHTML]= item.collectionName></p></b>
      <p class="stats" id="hosts" [innerHTML]= "'<b>Hosted By: </b>' + item.artistName"></p>
      <p class="stats" id="desc" [innerHTML]= "'<b>Episodes: </b>' + item.trackCount"></p>
      <p class="stats" id="desc" [innerHTML]= "'<b>Genre: </b>' + item.primaryGenreName"></p>
    </h2>
    </div>
    </ion-label>
  </ion-list>

  <ion-segment [(ngModel)]="order">
    <ion-segment-button value="desc">
      Newest
    </ion-segment-button>
    <ion-segment-button value="asc">
      Oldest
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="order">
    <ion-list *ngSwitchCase="'desc'">
    <ion-item button *ngFor="let item of rssDataArrayDesc.items" href="/tabs/(Playing:Playing)" (click)="playEpisode(item.enclosure.link, item.title, item.description, item.pubDate, item.author)">
      <ion-label class="episode">
        <div class="episode-left">
          <img src="./assets/images/ios-play-circle.svg" alt="Play button">
          </div>
        <div class="episode-right">
          <b><h2 [innerHTML]= item.title></h2></b>
          <h3>Uploaded on {{getDate(item.pubDate)}}</h3>
        </div>
      </ion-label>
    </ion-item>
    </ion-list>
    </div>

    <div [ngSwitch]="order">
      <ion-list *ngSwitchCase="'asc'">
      <ion-item button *ngFor="let item of rssDataArrayAsc.items" href="/tabs/(Playing:Playing)" (click)="playEpisode(item.enclosure.link, item.title, item.description, item.pubDate, item.author)">
        <ion-label class="episode">
          <div class="episode-left">
            <img src="./assets/images/ios-play-circle.svg" alt="Play button">
            </div>
          <div class="episode-right">
            <b><h2 [innerHTML]=item.title></h2></b>
            <h3>Uploaded on {{getDate(item.pubDate)}}</h3>
          </div>
        </ion-label>
      </ion-item>
      </ion-list>
      </div>
</ion-content>
