<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button href="/tabs/(Search:Search)">
  <ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title *ngIf="item">Episodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="item">
    <ion-label>
    <div class="column left"><img id="artwork" src={{item.artworkUrl600}} alt={{item.collectionName}}></div>
    <div class="column right">
    <h2><b><p id="podcastName">{{item.collectionName}}</p></b>
    <p class="sublabel">{{item.artistName}}</p></h2>
    </div>
    </ion-label>
  </ion-list>

  <ion-segment [(ngModel)]="order">
    <ion-segment-button value="desc">
      Newest
    </ion-segment-button>
    <ion-segment-button value="asc">
      Oldest
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="order">
    <ion-list *ngSwitchCase="'desc'">
    <ion-item button *ngFor="let item of rssDataArrayDesc.items" href="/tabs/(Playing:Playing)" (click)="playEpisode(item.enclosure.link, item.title, item.description, item.pubDate, item.author)">
      <ion-label class="episode">
        <div class="episode-left">
          <img src="./assets/images/ios-play-circle.svg" alt="Play button">
          </div>
        <div class="episode-right">
          <b><h2>{{item.title}}</h2></b>
          <h3>Uploaded on {{getDate(item.pubDate)}}</h3>
        </div>
      </ion-label>
    </ion-item>
    </ion-list>
    </div>

    <div [ngSwitch]="order">
      <ion-list *ngSwitchCase="'asc'">
      <ion-item button *ngFor="let item of rssDataArrayAsc.items" href="/tabs/(Playing:Playing)" (click)="playEpisode(item.enclosure.link, item.title, item.description, item.pubDate, item.author)">
        <ion-label class="episode">
          <div class="episode-left">
            <img src="./assets/images/ios-play-circle.svg" alt="Play button">
            </div>
          <div class="episode-right">
            <b><h2>{{item.title}}</h2></b>
            <h3>Uploaded on {{getDate(item.pubDate)}}</h3>
          </div>
        </ion-label>
      </ion-item>
      </ion-list>
      </div>
</ion-content>
