.column {
  float: left;
  padding: 10px;
  white-space: pre-line;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

ion-list{
  margin: 0px;
  padding: 0px;
}

.episode{
  background-color: #ecf4dc;
  padding: 10px;
  white-space: pre-line;
}
#less{
  height: 100px;
  overflow: hidden;
}
