<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail lines="full" (click)="logoutUser()">
      <ion-icon name="ios-log-out" item-start></ion-icon>Logout.
    </ion-item>
    <ion-item button detail lines="full" (click)="goToResetPassword()">
      <ion-icon name="ios-key" item-start></ion-icon>Reset Password.
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-label>
    <h4 id="footer">Developed by Phoebe Heath-Brown using iTunes Search API, RSS iTunes, rss2json.com & Firebase.</h4>
  </ion-label>
</ion-footer>
