<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail lines="full" (click)="logoutUser()">
      <ion-icon name="ios-log-out" item-start></ion-icon>Logout.
    </ion-item>
    <ion-item button detail lines="full" (click)="goToResetPassword()">
      <ion-icon name="ios-key" item-start></ion-icon>Reset Password.
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-label>
    <h4 id="footer">Developed by Phoebe Heath-Brown using iTunes Search API, RSS iTunes, rss2json.com & Firebase. Charts icon made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></h4>
  </ion-label>
</ion-footer>
