<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button fill="clear" (click)="logoutUser()">
        Logout.
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="goToResetPassword()">
        Reset Password.
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-label>
      Developed by Phoebe Heath-Brown using iTunes Search API
    </ion-label>
  </ion-footer>
</ion-content>
